dest_encoding=utf-8
url=https://www.gnivc.ru/html/gnivcsoft/KLADR/Base.7z
host=127.0.0.1
user=kladruser
password=kladrpassword
database=kladrbase

tables=(KLADR STREET DOMA FLAT ALTNAMES NAMEMAP SOCRBASE)
tables_aliases=(kladr streets doma flat altnames namemap socrbase)

#NAME,SOCR,CODE,INDEX,GNINMB,UNO,OCATD,STATUS

create_tables=(
"CREATE TABLE IF NOT EXISTS kladr (
  name varchar(40) NOT NULL,
  socr varchar(10) NOT NULL,
  code char(13) NOT NULL PRIMARY KEY,
  zipcode char(6) DEFAULT NULL,
  ifnscode varchar(4) DEFAULT NULL,
  ifnstercode varchar(4) DEFAULT NULL,
  okatocode varchar(11) DEFAULT NULL,
  status int(1) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8"
"CREATE TABLE IF NOT EXISTS streets (
  name varchar(40) NOT NULL,
  socr varchar(10) NOT NULL,
  code char(17) NOT NULL PRIMARY KEY,
  zipcode char(6) DEFAULT NULL,
  ifnscode varchar(4) DEFAULT NULL,
  ifnstercode varchar(4) DEFAULT NULL,
  okatocode varchar(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8"
"CREATE TABLE IF NOT EXISTS doma (
  name varchar(40) DEFAULT NULL,
  korp varchar(10) DEFAULT NULL,
  socr varchar(10) DEFAULT NULL,
  code varchar(19) DEFAULT NULL,
  zipcode varchar(6) DEFAULT NULL,
  ifnscode varchar(4) DEFAULT NULL,
  ifnstercode varchar(4) DEFAULT NULL,
  okatocode varchar(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8"
" "
" "
" "
" "
)